<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>

<body>
    <h1>ToDO List</h1>
    <table>
        <tr>
            <th>Task List</th>
            <th>View</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task' task.id %}">View</a></td>
        </tr>
        {% empty %}
        <h2>No time in List</h2>
        {%endfor%}
    </table>
</body>

</html>